nav {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    grid-template-areas: "p . k r m";   
}

nav a:last-child{
    background-color: black;
}

nav img{
    max-height: 40px;
}

nav p {
    grid-area: p;
    margin:auto;
}


footer {
    background-image: url(kepek/XJyoNq9\ -\ Imgur.png);
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    height: 80vh;
}

footer p {
    padding-top: 50px;
    padding-left: 50px;
}

footer h1 {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    font-size: 50px;
}

footer #gomb {
    margin-left: 80px;
    background-color: white;
    border: 20px solid white;
    border-radius: 30px;
    color: black;
    text-decoration: none;
}
footer h2{
    margin-bottom: 40vh;
}
#section img{
    max-width: 40px;
}

#section {
    padding-left: 50px;
    background-color: rgb(43, 42, 42);
    padding-top: 10vh;
    padding-bottom: 3vh;
}